<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.4/VisitVerify.1.281.281.220.03.25C189.ipa</string>
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.175/Payload_VV-281.175.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.3/VisitVerify.1.280.280.180.01.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.2/VisitVerify.1.280.280.175.01.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.1/VisitVerify.1.280.280.174.03.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.5/VisitVerify.1.279.279.173.03.25C168.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.2/VisitVerify.1.279.279.150.01.25C134.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.17/VisitVerify.1.278.278.146.03.25C127.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-277.1/VisitVerify.1.277.277.106.09.25C055.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV276.2/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-276.1/VisitVerify.1.276.276.104.01.25C051.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-275.11/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-275.1/VisitVerify.1.275.275.103.01.25C050.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-274.1/VisitVerify.1.274.274.101.08.25C048.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.71/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.6/VisitVerify.1.273.273.99.07.25C042.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-272.1/VisitVerify.1.272.272.93.01.25C027.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.4/VisitVerify.1.271.271.91.01.25C020.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.3/VisitVerify.1.270.270.85.03.25C008.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-269.1/VisitVerify.1.269.269.79.12.24C362.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-268.1/VisitVerify.1.268.268.77.01.24C351.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.5/VisitVerify.1.267.267.75.01.24C346.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-266.1/VisitVerify.1.266.266.67.03.24C325.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-265.2/VisitVerify.1.265.265.66.03.24C324.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-264.4/VisitVerify.1.264.264.64.05.24C317.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-264.3/VisitVerify.1.264.264.64.03.24C317.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-263.2/VisitVerify.1.263.61.03.24C309.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-262.3/VisitVerify.1.262.57.25.24C303.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.PreferredMobileApplications.VisitVerifyEnterprise</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Visit Verify</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
