<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                        <string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V7/Payload_VV.ipa</string>
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V6/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270-2_BK-V5/VisitVerify.1.270.270.85.01.25C008.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version3/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version2/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version1/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.1/VisitVerify.1.270.270.80.01.25C003.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-269.1/VisitVerify.1.269.269.79.12.24C362.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-268.1/VisitVerify.1.268.268.77.01.24C351.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.5/VisitVerify.1.267.267.75.01.24C346.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.3/VisitVerify.1.267.267.72.05.24C339.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.2/VisitVerify.1.267.267.69.01.24C332.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-267.1/VisitVerify.1.267.267.68.01.24C330.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-266.2/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-266.1/VisitVerify.1.266.266.67.03.24C325.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-265.2/VisitVerify.1.265.265.66.03.24C324.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-265.1/VisitVerify.1.265.265.66.01.24C324.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-264.4/VisitVerify.1.264.264.64.05.24C317.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-264.2/VisitVerify.1.264.63.01.24C313.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-264.1/VisitVerify.1.264.62.02.24C310.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-263.2/VisitVerify.1.263.61.03.24C309.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-263.1/VisitVerify.1.263.60.10.24C306.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.PreferredMobileApplications.VisitVerifyEnterprise</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Visit Verify</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
