<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.605/VisitVerify.1.281.281.605.03.26C040.ipa</string>
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.570/VisitVerify.1.281.281.570.01.26C032.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.555/VisitVerify.1.281.281.555.05.26C025.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.551/VisitVerify.1.281.281.552.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.551/VisitVerify.1.281.281.551.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.550/VisitVerify.1.281.281.550.01.26C019.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.545/VisitVerify.1.281.281.545.03.26C016.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.540.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.500.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.496.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.480.1.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.480/VisitVerify.1.281.281.480.01.25C353.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.465/VisitVerify.1.281.281.465.01.25C350.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.446.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.440/VisitVerify.1.281.281.440.01.25C329.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.396.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.395.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.394.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.393.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.392.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.391.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.390.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.389.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.388.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.387.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/Payload_VV-281.386/Payload_VV-281.386.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.385/VisitVerify.1.281.281.385.01.25C273.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.375/Payload_VV-281.375.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.355/VisitVerify.1.281.281.355.10.25C255.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.350/VisitVerify.1.281.281.350.01.25C254.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.345/VisitVerify.1.281.281.345.01.25C254.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.340/VisitVerify.1.281.281.340.01.25C253.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.1.281.281.331.01.25C240/Payload-VV.281.335.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.1.281.281.331.01.25C240/Payload_VV-281.333.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.1.281.281.331.01.25C240/Payload_VV-281.332.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.1.281.281.331.01.25C240/VisitVerify.1.281.281.331.01.25C240.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.330/VisitVerify.1.281.281.330.01.25C240.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.325/VisitVerify.1.281.281.325.01.25C239.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.320/VisitVerify.1.281.281.320.01.25C239.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.295/VisitVerify.1.281.281.295.01.25C230.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV-281.285.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/PayloadVV-281.277.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV.281.276.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV-281.271.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV-281.270.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV-281.260.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.257/Payload_VV-281.257.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.256/Payload_VV-281.256.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.5/VisitVerify.1.281.281.225.03.25C191.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.4/VisitVerify.1.281.281.220.03.25C189.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.3/VisitVerify.1.281.281.220.01.25C188.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.210/Payload_VV-281.210.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.186/Payload_VV-281.186.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.3/VisitVerify.1.280.280.180.01.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.2/VisitVerify.1.280.280.175.01.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-280.1/VisitVerify.1.280.280.174.03.25C169.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.5/VisitVerify.1.279.279.173.03.25C168.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.167/Payload_VV.279.167.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV279.154/Payload_VV_279.154.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.4/VisitVerify.1.279.279.152.01.25C136.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.3/VisitVerify.1.279.279.151.11.25C135.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.2/VisitVerify.1.279.279.150.01.25C134.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-279.1/VisitVerify.1.279.279.148.03.25C132.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.17/VisitVerify.1.278.278.146.03.25C127.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.16/VisitVerify.1.278.278.145.01.25C126.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.15/VisitVerify.1.278.278.144.01.25C125.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.14/VisitVerify.1.278.278.143.01.25C120.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.12/VisitVerify.1.278.278.141.01.25C115.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.11/VisitVerify.1.278.278.140.09.25C112.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.10/VisitVerify.1.278.278.140.01.25C112.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.9/VisitVerify.1.278.278.138.01.25C105.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.133.09.25C102/Payload_VV-278.133.09.25C102.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.133.09.25C101/Payload_VV-278.133.09.25C101.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.133.10.25C100/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.8/VisitVerify.1.278.278.137.11.25C099.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.132.1/Payload_VV-278.132.1.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.7/VisitVerify.1.278.278.132.09.25C092.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.6/VisitVerify.1.278.278.124.17.25C079.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.5/VisitVerify.1.278.278.123.11.25C078.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.4/VisitVerify.1.278.278.123.05.25C078.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.119/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.118/Payload_VV-278.118.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV278.117/Payload_VV.278.117.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.3/VisitVerify.1.278.278.116.01.25C067.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.2/VisitVerify.1.278.278.112.01.25C064.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-278.1/VisitVerify.1.278.278.110.10.25C062.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-277.4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-277.3/VisitVerify.1.277.277.109.09.25C059.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-277.2/VisitVerify.1.277.277.108.03.25C057.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-277.1/VisitVerify.1.277.277.106.09.25C055.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV276.2/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-276.1/VisitVerify.1.276.276.104.01.25C051.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-275.11/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-275.1/VisitVerify.1.275.275.103.01.25C050.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-274.11/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-274.1/VisitVerify.1.274.274.101.08.25C048.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.71/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.7/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.6/VisitVerify.1.273.273.99.07.25C042.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.3/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-273.1/VisitVerify.1.273.273.95.04.25C034.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-272.3/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-272.1/VisitVerify.1.272.272.93.01.25C027.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.4/VisitVerify.1.271.271.91.01.25C020.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.3/VisitVerify.1.270.270.85.03.25C008.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V7/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V6/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270-2_BK-V5/VisitVerify.1.270.270.85.01.25C008.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BK-V4/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version3/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version2/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/BigKahuna-Version1/Payload_VV.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-270.1/VisitVerify.1.270.270.80.01.25C003.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.PreferredMobileApplications.VisitVerifyEnterprise</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Visit Verify</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
