<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.282.011/Payload_VV-282.011.ipa</string>
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-282.010.170/VisitVerify.1.282.282.010.170.01.26C238.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-282.005.170/VisitVerify.1.282.282.005.170.02.26C237.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.995/VisitVerify.1.281.281.995.01.26C236.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.990/VisitVerify.1.281.281.990.03.26C231.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.986/Payload_VV-281.981.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.985/VisitVerify.1.281.281.985.03.26C218.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.980/VisitVerify.1.281.281.980.05.26C217.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.970/VisitVerify.1.281.281.970.06.26C209.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.960/VisitVerify.1.281.281.960.01.26C204.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.955/VisitVerify.1.281.281.955.01.26C203.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.935/VisitVerify.1.281.281.935.07.26C197.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-291.915.2/VisitVerify.1.281.281.915.21.26C196.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.915/VisitVerify.1.281.281.915.03.26C195.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.805/VisitVerify.1.281.281.805.03.26C174.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.800/VisitVerify.1.281.281.800.15.26C168.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.785/VisitVerify.1.281.281.785.01.26C160.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.780/VisitVerify.1.281.281.780.03.26C160.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.775/VisitVerify.1.281.281.775.01.26C159.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.757/Payload_VV-281.757.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.755/Payload_VV-281.756.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.755/Payload_VV-281.755.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.755/VisitVerify.1.281.281.755.03.26C135.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.751/Payload_VV-281.752.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.751/Payload_VV-281.750.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.750/VisitVerify.1.281.281.750.03.26C117.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.745/VisitVerify.1.281.281.745.01.26C112.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.735/VisitVerify.1.281.281.735.01.26C107.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.715/VisitVerify.1.281.281.715.02.26C099.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.705/Payload_VV-281.705.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.700/VisitVerify.1.281.281.700.01.26C096.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VisitVerify.1.281.281.695/VisitVerify.1.281.281.695.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.685/VisitVerify.1.281.281.685.03.26C069.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.680/VisitVerify.1.281.281.680.01.26C065.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.665/VisitVerify.1.281.281.665.07.26C061.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.655/VisitVerify.1.281.281.655.04.26C056.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.615/VisitVerify.1.281.281.615.04.26C042.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.610/VisitVerify.1.281.281.610.03.26C041.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.605/VisitVerify.1.281.281.605.03.26C040.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.570/VisitVerify.1.281.281.570.01.26C032.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.555/VisitVerify.1.281.281.555.05.26C025.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.551/VisitVerify.1.281.281.552.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.551/VisitVerify.1.281.281.551.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.550/VisitVerify.1.281.281.550.01.26C019.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/VV-281.545/VisitVerify.1.281.281.545.03.26C016.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.540.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.500.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.496.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/VisitVerify_VV-Releases/releases/download/281.480.1/Payload_VV-281.480.1.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.PreferredMobileApplications.VisitVerifyEnterprise</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Visit Verify</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
